html {
    background-color: #131313;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.005);
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    background-color: #131313;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.005);
    -webkit-font-smoothing: subpixel-antialiased;
}

p {
    font-size: 1.75vw;
}

.header {
    /* background-color: rgba(19, 19, 19, .51); */
    width: 100%;
    height: 100%;
    /* background-image: url("img/bg.jpg"); */
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    text-align: center;
    background-color: transparent;
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 2rem;
}

.navbar a, .navbar .button-menu {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.005);
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    text-decoration: none;
    color: #ffffffb3;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    width: 10rem;
    line-height: 3rem;
}

.navbar a:hover, .navbar .button-menu:hover {
    cursor: pointer;
    color: #fff;
    transition-duration: 400ms;
}

.video1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #daa54e;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    display: block;
    margin: 0 auto;
    width: 100%;
}

h2 {
    text-align: center;
    text-transform: lowercase;
    color: #daa54e;
    font-size: 1rem;
    display: block;
    margin: 0;
    padding: 0;
}

#empty1 {
    width: 100%;
    height: 300px;
}

.main {
    width: 100%;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    z-index: 100;
}

h3 {
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px;
}

.button1 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.005);
    -webkit-font-smoothing: subpixel-antialiased;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    width: 220px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-color: #fff;
    color: #1b1b1b;
    border-radius: 300px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

#button1 {
    background-color: #000;
}

#button1, #button2, #button3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

#button4 {
    position: absolute;
    top: 88.8%;
    left: 50%;
    transform: translate(-50%, 0);
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover {
    background-color: #d3d3d3;
}

.page {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.page p {
    font-size: 1.2rem;
}

h5 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 40px;
    margin-top: 80px;
}

h6 {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    color: #1b1b1b;
    margin: 20px;
}

.gold {
    position: absolute;
    top: 200%;
    left: 0;
    background-color: #daa54e;
    color: rgba(0,0,0,.75);
    height: 100%;
    width: 100%;
    text-align: center;
}

.prefooter {
    background-color: #1f1f1f;
    position: absolute;
    top: 300%;
    left: 0;
    right: 0;
    margin: auto;
    height: 90%;
    max-width: 100%;
    text-align: center;
}

.disclamer {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 10%;
    margin: auto;
    max-width: 90%;
    border: 1px solid white;
}

#link1 {
    text-decoration: none;
}

.footer {
    position: absolute;
    top: 390%;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}

#portret {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #333333;
    margin: auto;
    min-height: 400px;
    width: 50%;
    left: 0;
    right: 0;
    padding: 20px;
}

#zdjecie {
    height: auto;
    width: 100%;
    max-width: 250px;
    max-height: 350px;
}

.foto {
    float: left;
    padding: 10px;
    margin: 10px;
}

.bio {
    float: right;
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width: 980px){
    #portret {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #333333;
        margin: auto;
        min-height: 400px;
        width: 50%;
        left: 0;
        right: 0;
        padding: 20px;
    }

    .header {
        height: 100%;
        position: relative;
    }

    #empty1 {
        height: 200px;
    }

    #button1 {
        border: 1px solid white;
    }

    .page {
        height: 100%;
        position: relative;
    }

    #portret {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .gold {
        height: 100%;
        position: relative;
    }

    .prefooter {
        height: 100%;
        position: relative;
    }

    .footer {
        height: 100%;
        position: relative;
    }

    .navbar2 {
        display: none;
    }

    #button2, #button3, #button4 {
        display: none;
    }

    #logo {
        display: none;
    }
}

.hamburger {
    display: none;
}

.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 690px){
    .navbar {
        display: none;
    }

    .hamburger {
        z-index: 1001;
        position: absolute;
        display: block;
        right: 0;
        background-color: #000;
        border: none;
        outline: none;
        padding: 10px 30px;
        margin: 30px;
        cursor: pointer;
        width: 180px;
        text-align: center;
    }

    .hamburger ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .hamburger li a {
        display: block;
        text-decoration: none;
        color: #d3d3d3;
        padding: 10px 0;
        font-size: 2em;
    }

    .hamburger li a:hover {
        background-color: #131313;
        color: #daa54e;
    }

    .hamburger:hover .hamburger-menu{
        display: block;
    }

    .hamburger:active .hamburger-menu{
        display: block;
    }

    .hamburger:focus .hamburger-menu{
        display: block;
    }
}


#portret:hover {
    box-shadow: 0 0 8px 4px rgb(218, 165, 78, 0.2), 0 0 20px 10px rgb(218, 165, 78, 0.3);
}

h1:hover {
    color:rgb(255, 201, 53);
    transition: 500ms;
    text-shadow: 1px 2px 20px rgb(19, 19, 19, 0.2);
}

.navbar2 {
    text-align: center;
    background-color: #111;
    opacity: 0.95;
    width: 100%;
    vertical-align: middle;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: -200px;
    transition: top 0.3s;
}

.navbar2 a, .navbar2 .button-top {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.005);
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: #ffffffb3;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    width: 150px;
    line-height: 50px;
}

.navbar2 a:hover, .navbar2 .button-top:hover {
    cursor: pointer;
    color: #fff;
    transition-duration: 400ms;
}

.button-zadania {
    display: inline-block;
    color: #daa54e;
    text-decoration: none;
    font-size:20px; 
    font-family:Helvetica;
    padding:20px;
    background-color: #1f1f1f;
    text-transform: uppercase;
    border: 2px solid #daa54e;
    margin: 10px;
    transition: 0.2s;
}

.button-zadania:hover {
    color: #1f1f1f;
    background-color: #daa54e;
    transition: 0.4s;
    cursor: pointer;
}

.tech {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    width: 50%;
    margin: 0 auto;
}

.tech-item {
    display: inline-grid;
    padding: 10px;
    color: #131313;
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
}

.tech-item:hover {
    transition: 0.2s;
    color: #daa54e;
    background-color: #333333;
}

.tech-item p {
    font-size: 1.5rem;
}

.tech-img {
    left: 0;
    margin: auto;
    width: 80px;
    height: 80px;
}

.tech a {
    text-decoration: none;
}

#portret p {
    text-align: left;
}


/* Pizza */

.pizza {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pizza1 {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 49%;
    border: 1px solid #daa54e;
}

.pizza2 {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 49%;
    border: 1px solid #daa54e;
}

.przelicz {
    clear: both;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #daa54e;
}

.wyniki {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wyniki1 {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.wyniki2 {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}

#tak1 {
    display: none;
}

#nie1 {
    display: none;
}

.cos1 {
    display: none;
    padding: 20px;
    margin: 20px;
}


/* Glow on hover */

.glow-on-hover {
    border: none;
    outline: none;
    cursor: pointer;
    color: #d3d3d3;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #1b1b1b;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* end */
