.boxbox {
    display: none;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #777;
}

.tablink:focus {
    color: black;
}
.tablink:active {
    color: black;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#DELTA {background-color: #dddddd;}
#VATtab {background-color: #dddddd;}
#HORNER {background-color: #dddddd;}
#TBD {background-color: #dddddd;}

.button {
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color:#daa54e; 
    text-decoration: none; 
    font-size: 20px; 
    font-family: Helvetica; 
    padding: 10px 20px;
    margin: 20px 0px;
    background-color: #1f1f1f;
}

.hr {
    border: 1px solid #1f1f1f;
    display: block;
    width: 25%;
    margin-left: 0;
}
